.aboutPage{
    .aboutVideo{
        width: 100%;
        height: calc(100vh - 150px);
        object-fit: cover;
        border-radius: 14px;
    }
    .title{
        margin: 1rem auto;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }
    .about{
     margin: 17px auto;
     font-size: 17px;
    }
    .areaAchievements{
        border-radius: 30px;
        background-color: #f2f2f2;
        padding: 20px;
    .achievements{
        margin-bottom: 1rem;
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
    }
    .shortInfo{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(17rem, 1fr) );
    gap: 1rem;
    .shortTitle{
        font-size: 60px;
        font-weight: bolder;
        color: #d60000;
    }
    }
}
}

@media screen and (max-width: 850px) {
    .aboutPage{
        margin-top: 40px;
        .title{
            margin: 1rem auto;
            font-size: 25px;
            font-weight: 700;
            text-align: center;
        }
        .about{
        text-align: center;
        }
        .areaAchievements{
        .achievements{
            font-size: 27px;
        }
        .shortInfo{
         text-align: center;
        .shortTitle{
            font-size: 40px;
        }
        }
    }
    }  
}