.myOrdersPage {
	display: flex;
	gap: 2rem;
	background-color: rgba(255, 254, 250, 1);
	.myOrdersContentWrapper {
		width: 902px;
		.pageHeader {
			width: 812px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.pageTitleAndSearchInp {
				display: flex;
				justify-content: space-between;
				width: calc(100% - 255px);
				.search {
					display: flex;
					align-items: center;
					padding: 0.5rem 1rem;
					border: 1px solid rgba(239, 237, 237, 1);
					border-radius: 8px;
					background-color: rgba(255, 255, 255, 1);
					input {
						border: none;
						padding-left: 5px;
						font-size: 1.02rem;
						&:focus {
							outline: none;
							border: none;
						}
						&::placeholder {
							font-size: 1rem;
						}
					}
				}
			}
			.selects {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 253px;
				select {
					padding: 0.7rem 0.8rem;
					border: 1px solid rgba(239, 237, 237, 1);
					border-radius: 8px;
					background-color: rgba(255, 255, 255, 1);
					font-size: 1.02rem;
					&:focus {
						outline: none;
					}
				}

				.status {
					margin: 0 1rem;
				}
			}
		}
		.tableWrapper {
			margin: 3rem 0 1rem;
			table {
				border-collapse: separate;
				border-spacing: 0;
				width: 100%;
				border: 1px solid #dddddd;
				border-bottom: none;
			}
			.searchResultNoProduct{
				display: flex;
				justify-content: center;
				width: 100%;
				padding: 1.5rem;
				color: red;
			}
			thead {
				background-color: rgba(234, 234, 234, 1);
			}
			tr {
				display: flex;
			}
			th {
				height: 46px;
				padding: 8px 0;
				font-size: 12px;
				font-weight: 600;
				color: rgba(31, 31, 31, 1);
				background-color: rgba(234, 234, 234, 1);
				display: flex;
				align-items: center;
			}
			td {
				padding: 8px 0;
				border-bottom: 1px solid #dddddd;
				font-size: 14px;
				font-weight: 500;
				display: flex;
				align-items: center;
			}
			.headerPrPrice,
			.headerPrTotal,
			.headerPrDate {
				cursor: pointer;
			}
			.bodyPrNamePriceWrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				row-gap: 0.5rem;
				.bodyPrImgNamePrice {
					display: flex;
					align-items: center;
					.bodyPrNameAndImg {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						.bodyPrImg {
							width: 36px;
							height: 36px;
							object-fit: cover;
							border: 1px solid red;
							border-radius: 7px;
							margin-right: 7px;
						}
						.bodyPrName {
							padding-right: 10px;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 1;
							overflow: hidden;
							white-space: normal;
							word-break: break-all;
						}
					}
				}
			}
			.headerPrId,
			.bodyPrId {
				width: 50px;
				padding-left: 10px;
			}
			.headerPrNameAndImg,
			.bodyPrNameAndImg {
				width: 250px;
				justify-content: center;
			}
			.headerPrPrice,
			.bodyPrPrice,
			.headerPrTotal,
			.bodyPrTotal,
			.headerPrDate,
			.bodyPrDate {
				width: 120px;
				display: flex;
				justify-content: center;
				text-align: center;
			}

			.headerPrPayment,
			.bodyPrPayment {
				width: 80px;
				display: flex;
				justify-content: center;
			}
			.headerPrStatus,
			.bodyPrStatus {
				width: 150px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.bodyPrstatusBtn {
				width: 150px;
				display: flex;
				justify-content: center;
				align-items: center;
				white-space: nowrap;
				background-color: rgba(255, 210, 63, 1);
				border-radius: 2rem;
				padding: 9px 10px;

				margin-right: 10px;
			}
		}
	}
}
// my orders page responsive
@media only screen and (max-width: 1300px) {
	.myOrdersPage {
		flex-direction: column;
		.compUserAccoundAndOtherDetailName {
			display: none;
		}
		.myOrdersContentWrapper {
			.tableWrapper {
				margin: 1rem auto;
				overflow-x: scroll;
			}
		}
	}
}

@media only screen and (max-width: 750px) {
	.myOrdersPage {
		flex-direction: column;
		.myOrdersContentWrapper {
			width: 100%;
			.pageHeader {
				flex-direction: column;
				align-items: inherit;
				width: 100%;
				.pageTitleAndSearchInp {
					display: flex;
					flex-direction: column;
					margin-bottom: 1rem;
					width: 100%;
					.search {
						width: 250px;
						margin-top: 10px;
						input {
							border: none;
							padding-left: 5px;
							font-size: 1.02rem;
							&:focus {
								outline: none;
								border: none;
							}
							&::placeholder {
								font-size: 1rem;
							}
						}
					}
				}
				.selects {
					display: flex;
					align-items: center;
					width: 280px;
					select {
						padding: 0.7rem 0.8rem;
						border-radius: 8px;
						font-size: 1.02rem;
					}

					.status {
						margin: 0 1rem 0 0;
					}
				}
			}
		}
	}
}
