.catalogWrapper {
  background-color: red;
  height: calc(100vh - 90px);
  width: 300px;
  position: absolute;
  top: 160px;
  top: 80px;
  left: 0;
  z-index: 1;
  .categoryName {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    a {
      color: #333;
      padding: 5px 10px;
      display: block;
    }
    &:hover{
      background-color: rgb(54, 16, 224);
      display: flex;
    }
    .subCategoryWrapper{
      width: 300px;
      height: calc(100vh - 90px);
      background-color: green;
      display: none;
      position: absolute;
      left: 99%;
      top: 0;
    .subCategory {
      height: calc(100vh - 90px);
      overflow-y: auto;
      .subCategoryHeaderTitle{
        display: flex;
        justify-content: center;
        color: white;
      }
      &::-webkit-scrollbar {  
				width: 2px;
				background-color: rgb(148, 14, 14);
			}

			&::-webkit-scrollbar-thumb {
				background-color: rgb(255, 255, 255);
				width: 1px;
			}
    }}
    &:hover > .subCategoryWrapper {
      display: block;
    }
  }
}

// @media only screen and (max-width: 1000px) {
//   .catalogWrapper {
//     background-color: red;
//     height: 100vh;
//     position: absolute;
//     top: 160px;
//     top: 0;
//     left: 0;
//     z-index: 10;
//     .categoryName {
//       padding: 10px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       cursor: pointer;
//       border: 1px solid white;
//       a {
//         color: #333;
//         padding: 5px 10px;
//         display: block;
//       }
//       &:hover{
//         background-color: aqua;
//         // width: 90%;
//         // margin: 0 auto;
//       }
  
//       .subCategory {
//         width: 300px;
//         height: 100vh;
//         background-color: green;
//         display: none;
//         position: absolute;
//         left: 100%;
//         top: 0;
//         &::-webkit-scrollbar {  
//           width: 5px;
//           background-color: rgb(148, 14, 14);
//         }
  
//         &::-webkit-scrollbar-thumb {
//           background-color: rgb(255, 255, 255);
//         }
//       }
//       &:hover > .subCategory {
//         display: block;
//       }
//     }
//   }
// }



