.changePasswordPage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
    .changePasswordForm{
        width: 50%;
   
    }
}

// changePasswordPage responsive
@media only screen and (max-width: 650px) {
    .changePasswordPage{
        .changePasswordForm{
            width: 100%;
       
        }
    }
}