
    .userPersonalInformationPage{
      display: flex;
      gap: 2rem;
      .userInfo{
        width: calc(100% - 280px);
        .userInfoForm{
          margin-top: 3rem;
          text-align: center;
          .nameSurname,
          .emailPhone{
            display: flex;
            gap: 1rem;
          }
          .saveBtn{
            display: block;
            margin-left: auto;
            background-color: #FFD23F;
            color: #000000DE;
            font-weight: 500;
            font-size: 1rem;
            border: none;
            border-radius: 2rem;
            padding: 1rem 4rem;
            cursor: pointer;
          }
        }
      }
    }
