
    .userPersonalInformationPage{
      display: flex;
      gap: 2rem;
      .userInfo{
        width: calc(100% - 280px);
        border: 2px solid fuchsia;
        .userInfoForm{
        
        }
      }
    }
