.similarPrAndPrFeaturesWrapper{
    .similarPrAndFeaturesBtn{
		margin-top: 1rem;
		.similarBtn,
		.featuresBtn{
			padding: 15px 30px;
			border-radius: 32px;
			border: none;
			margin-right: 1rem;
			cursor: pointer;
			transition: 0.5s ease;
		}
	}
	.BtnActive{
		background: #FFD23F;
	}
	.relatedProducts{
		position: relative;
		margin: 1rem auto;
		padding: 1rem;
		border: 1px solid rgb(234,234,234);
		border-radius: 14px;
	}
	.prMoreInfoWrapper{
		margin: 1rem auto;
		padding: 1rem 2rem;
		border: 1px solid #EAEAEA;
		border-radius: 16px;
		.prInfoTitle{
			font-size: 1.5rem;
			text-align: center;
		}
		.indicatorsWrapper{
			margin: 1rem 0;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
			gap: 1rem 2rem;
			.prIndicator{
				padding: 0 .5rem;
				border-bottom: 1px solid #EAEAEA;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.param{
					font-size: 1.2rem;
					font-weight: 500;
				}
				.option{
					font-style: 1rem;
					font-style: italic;
				}
			}	
		}
	}
}