.button {
	display: block;
	margin-left: auto;
     margin-top: 20px;
	background-color: #ffd23f;
	color: #000000de;
	font-weight: 500;
	font-size: 1rem;
	border: none;
	border-radius: 2rem;
	padding: 1rem 4rem;
	cursor: pointer;
}


@media screen and (max-width: 750px){
	.button {
       width: 100%;
	}
}