.prDetailsSlider{
    position: relative;
    width: 600;
    box-shadow: 0px 2px 79px 0px #0000001A;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: row-reverse;
    .discountRate{
        position: absolute;
        top: 45px;
        right: 20px;
        background: rgb(239 68 68);
        font-weight: 600;
        padding: 5px;
        color: white;
        border-radius: 5px;
        padding: 7px;
        font-size: 1.5rem;
        z-index: 9;
    }
    .mySwiperSlider{
      position: relative;
      width: 600px;
      border-radius: 7px; 
      .sliderImg{
        margin-top: 30px;
        width: 99%;
        height: 94%;
        object-fit: cover;
        border-radius: 7px;
        border: 2px solid #EAEAEA;
      }

    }
}