.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 100vh;
  .loginArea{
    width: 400px;
    padding: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 14px;
  .pageTitle{
    font-size: 2rem;
    text-align: center;
  }
}
}


// login  responsive
@media only screen and (max-width: 750px) {
  .loginPage{
    .loginArea{
      width: 270px;
  }
  }
}