.noProduct {
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	font-size: 2rem;
	height: 200px;
}

.categoryTitlePrSort {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	.categoryTitleAndPrCount {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		.categoryTitle {
			font-size: 1.2rem;
			font-weight: 600;
		}
		.prCount {
			font-size: 1.1rem;
			margin-top: 5px;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.38);
		}
	}
	.mobileSortAndMobileFilter {
		display: none;
	}
	.mobilefilter {
		display: none;
	}
	.prSortWeb {
		display: flex;
		align-items: center;
		gap: 1rem;
		.sortBtn {
			white-space: nowrap;
			padding: 0.7rem 1rem;
			border-radius: 2rem;
			background-color: rgba(235, 235, 235, 1);
			cursor: pointer;
		}
	}
	.prSortMobile {
		display: none;
	}
	.active {
		background-color: gold !important;
	}
}

.filterAndCategoryFilterResultArea {
	display: flex;
	align-items: start;
	gap: 2rem;
	.webFilterAreaWrapper {
		width: 320px;
		position: sticky;
		top: 70px;
	}
}
.productsAndPagination{
	display: flex;
	flex-direction: column;
	width: calc(100% - 300px);
.productsArea {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem 10px;
}
}
@keyframes checkAnim {
	from {
		transform: rotate(45deg) scale(0);
	}
}

@media only screen and (max-width: 850px) {
	.categoryTitlePrSort {
		margin-top: 3rem;
		flex-direction: column;
		.categoryTitleAndPrCount {
		  justify-content: center;
		}
		.prSortWeb {
			display: none;
		}
		.mobilefilter {
			width: 97%;
			display: block;
			position: fixed;
			top: 0;
			right: 20px;
			z-index: 99;
			transition: .5s ease-in;
			&.noFilterArea {
             right: -100%;
			}
		}
		.mobileSortAndMobileFilter {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1rem 0;
			.prSortMobile {
				display: block;
				border: 1px solid rgba(239, 237, 237, 1);
				outline: none;
				border-radius: 7px;
				padding: 10px;
				// font-size: 1.2rem;
				height: 44px;
				font-weight: 500;
				color: black;
				option {
					box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.09);
					border: 1px solid rgba(239, 237, 237, 1);
					margin-top: 50px;
					border-radius: 10px;
				}
			}
			.mobileFilterBtn{
				padding: 10px 20px;
				border-radius: 12px;
				color: white;
				background-color: rgba(35, 35, 35, 1);
				width: 130px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.2rem;
				font-weight: 500;
				svg{margin-right: 10px;}
			}
		}
	}

	.filterAndCategoryFilterResultArea {
		.webFilterAreaWrapper {
			display: none;
		}
	}
	.productsAndPagination{
		width: 100%;
	.productsArea {
		justify-content: center;
	}
}}
