.UserAddressAddForm{
    // width: calc(100% - 600px);
    width: 100%;
    height: 580px;
    position: sticky;
    top: 60px;
    .userNameSurname{
        display: flex;
       justify-content: space-between;
       gap: 10px;
    }
    // .userPhoneCityAddress{
    //     margin-top: -8px;
    // }
}


// myAddressesPage title responsive
@media screen and (max-width: 1350px){
    .UserAddressAddForm{
        .userNameSurname{
           flex-direction: column;
        }
    
    }
}