.forgotYourPasswordWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.forgotYourPasswordArea {
		text-align: center;
		width: 600px;
		border: 1px solid #eaeaea;
		padding: 20px;
		border-radius: 1rem;
		background-color: #ffffff;
		.PageTitle {
			color: #000000de;
			font-size: 3rem;
			font-weight: 600;
		}
		.pageWarning {
			margin-bottom: -14px;
			padding: 1rem 2rem;
		}
		form {
			width: 100%;
		}
	}
}

// forgotYourPassword  responsive
@media only screen and (max-width: 750px) {
    .forgotYourPasswordWrapper {
        .forgotYourPasswordArea {
            width: 280px;
            padding: 10px;
            .PageTitle {
                font-size: 1.2rem;
            }
            .pageWarning {
                margin-bottom: -14px;
                padding: 1rem;
                font-size: 14px;
            }
            form {
                width: 100%;
            }
        }
    }
}
