.forgotYourPasswordWrapper{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    .forgotYourPasswordArea{
        text-align: center;
        width: 600px;
        border: 1px solid #EAEAEA;
        padding: 20px;
        border-radius: 1rem;
        background-color: #FFFFFF;
        .PageTitle{
            color: #000000DE;
            font-size: 3rem;
            font-weight: 600;
        }
        .pageWarning{
            margin-bottom: -14px;
            padding: 1rem 2rem;
        }
        form{
            width: 100%;
        }
    }
}