.header-top {
    .header-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
     
      .header-truckarea {
        margin-top: -3px;
        width: 100%;
        overflow: hidden;
        .header-truckarea-image {
          width: 40px;
          &.truck-img {
            margin-left: -3rem;
            z-index: 2;
            animation: truck 10s linear infinite;
          }
  
          &.box-img {
            width: 10px;
            z-index: 4;
            position: relative;
            right: 0rem;
            opacity: 0;
            animation: box 10s linear infinite;
  
            &.box-img1 {
              animation-delay: 1s;
              position: relative;
              margin-right: -0.5rem;
            }
          }
        }
      }
      .content{
        margin-top: -3px;
        padding: 0 7px 5px 7px;
        border-radius: 5px;
       position: absolute;
       left: 0;
       z-index: 11;
       font-weight: 500;
       background-color: #FFD23F;
      }
    }
  }
  
  @keyframes truck {
    40%, 70% {
      margin-left: 60%;
    }
  
    100% {
      margin-left: 100%;
    }
  }
  
  @keyframes box {
    0%, 40% {
      opacity: 0;
      right: 4rem;
    }
  
    50% {
      opacity: 1;
      right: 3rem;
    }
  
    60%, 100% {
      opacity: 0;
      right: 3rem;
    }
  }
  