.productCartWrapper{
	margin-bottom: 20px;
	background-color:rgba(245, 245, 245, 1);;
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s ease;
	border: 1px solid red;
	position: relative;
	.catdirilma{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 20px;
		background-color: black;
		color: white;
	}
	.endirim{
		position: absolute;
		top: 20px;
		right: 0;
		width: 70px;
		height: 50px;
		background: #F44336;
		color: white;
		border-radius: 5px 0 0 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		font-weight: 500;
		font-size: 1.4rem;
	}
	&:hover{
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
		.productImg{
			transform: scale(1.1);
		}
	}
	.productImg{
       width: 300px;
	   height: 300px;
	   object-fit: cover;
	   border-radius: 10px 10px 0 0;
		transition: .5s;
	}
	.productInfo{
		padding: .7rem;
	   font-size: 1.2rem;
	.productTitle{
      	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		color: rgba(0, 0, 0, 0.87);
		line-height: 1.4rem;
		font-weight: 600;
		}
	.productPrice{
	color: rgba(253, 133, 33, 1);
     margin: .5rem 0;
	 display: inline-block;
	font-weight: 500;
	}
	.basketAndFavorit{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	.productBasket{
     background-color: rgba(255, 210, 63, 1);
	 color: rgba(0, 0, 0, 0.87);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: .3rem 1.3rem;
	 border-radius: 32px;
	 cursor: pointer;
	 transition: .7s ease;
	 border: 1px solid rgba(255, 210, 63, 1);
	 svg{
		display: inline-block;
		margin-right: .7rem;
	 }
	 &:hover{
		background-color: white;
	 }
	}
	.ProductFavorite{
	    padding: 18px 18px 12px 17px;
		cursor: pointer;
		border-radius: 100%;
		background: rgba(239, 239, 239, 1);
		transition: .5s ease;
		&:hover{
			background-color: rgba(255, 210, 63, 1);
		}
	}
}
}