.productCartWrapper{
	margin-bottom: 20px;
	// background-color:rgba(245, 245, 245, 1);
	width: 300px;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s ease;
	position: relative;
	border: 1px solid #D9D9D9;
	.delivery{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 20px;
		// background-color:rgba(253, 133, 33, 1);
		// color: white;
			background-color: rgb(255, 210, 63);
		color: rgba(0, 0, 0, 0.87);
	     
		.truckImg{
			width: 30px;
			height: 20px;
			margin-right: 20px;
		}
	}
	.discount{
		position: absolute;
		top: 50px;
		right: 5px;
		width: 70px;
		height: 55px;
		background: rgb(239 68 68);
		color: white;
		border-radius:14px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		font-weight: 500;
		font-size: 1.4rem;
	}
	&:hover{
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
		.productImg{
			transform: scale(1.1);
		}
	}
	.productImg{
	   padding-top: 20px;
       width: 300px;
	   height: 300px;
	   object-fit: contain;
	   border-radius: 10px 10px 0 0;
		transition: .5s;
	}
	.productInfo{
		padding:.7rem;
	   font-size: 1.2rem;
	   background-color:rgba(245, 245, 245, 1);
	.productTitle{
      	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		color: rgba(0, 0, 0, 0.87);
		line-height: 1.4rem;
		font-weight: 600;
		}
		.discountPrice{
			display: flex;
			justify-content: space-between;
			align-items: center;
		.prPriceDifference{
			margin-top: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 20px;	
			background: rgb(239 68 68);
			font-weight: 600;
			padding: 5px;
			color: white;
			border-radius: 5px;
		  }
		}
		.prPricesWrapper{
			.productPrice{
				color: rgba(253, 133, 33, 1);
				 margin: .5rem 0;
				 display: inline-block;
				font-weight: 700;
				font-size: 1.5rem;
				}
				.prPreviousPrice{
					margin-left: 20px;
					color: black;
					text-decoration: line-through;
					text-decoration-color: rgb(239 68 68);
					display: inline-flex;
					justify-content: center;
					font-weight: 500;
				}
		}	

	.basketAndFavorit{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	.productBasket{
		background-color: rgb(255, 210, 63);
		color: rgba(0, 0, 0, 0.87);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.6rem 1.3rem;
		border-radius: 14px;
		cursor: pointer;
		transition: 0.7s ease;
		border: 1px solid rgb(255, 210, 63);
		width: 60%;
	 svg{
		display: inline-block;
		margin-right: .7rem;
	 }
	 &:hover{
		background-color: white;
	 }
	}
	.ProductFavorite{
	    padding: 13px 13px 7px 12px;
		cursor: pointer;
		border-radius: 100%;
		background-color: rgb(255 210 63);
		transition: .5s ease;
		border: 1px solid rgb(255 210 63);
		&:hover{
			background-color: white;
			border: 1px solid rgb(255 210 63);
			svg{
			    fill:rgb(255 210 63) !important;
				stroke: rgb(255 210 63) !important;
			}
		}
	}
}
}