
.addressDeleteModal{
	position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
	width: 600px;
	.deleteAddressModal{
  width: 100%;
background-color: white;
	padding: 1.4rem 2rem;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  .btnList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .noBtn,
    .yesBtn{
      border: none;
			width: 47%;
			padding: 1rem 0;
      margin: 1rem auto;
			border-radius: 2rem;
			font-size: 1rem;
			font-weight: 500;
			cursor: pointer;
    }
         .noBtn{
                background-color: rgba(0, 0, 0, 0.38);
                color: rgba(255, 255, 255, 1);
            }
            .yesBtn{
                background-color: rgba(251, 192, 187, 1);
                color: rgba(244, 67, 54, 1);
            }
  }  
}
	}

.UserAddressAddForm {
	position: relative;
	visibility: visible;
	width: 500px;
	background-color: white;
	padding: 1.4rem 2rem;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
	.closeIcon {
		position: absolute;
		top: 14px;
		right: 14px;
		cursor: pointer;
	}

	.userNameSurname {
		display: flex;
		justify-content: space-between;
	}
	.userPhoneCityAddress {
		margin-top: -8px;
	}
	.btnList {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.deleteBtn,
		.saveBtn {
			border: none;
			width: 47%;
			padding: 1rem 0;
			border-radius: 2rem;
			font-size: 1rem;
			font-weight: 500;
			cursor: pointer;
		}
		.deleteBtn {
			background-color: rgba(251, 192, 187, 1);
			color: rgba(244, 67, 54, 1);
		}
        .saveBtn{
            background-color: rgba(255, 210, 63, 1);
            color: rgba(0, 0, 0, 0.87);
        }
	}
}
// .noModal{
//  visibility: hidden;
// }