.OrderConfirmPage {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	.formGroup {
		width: calc(100% - 450px);
		border: 1px solid rgba(234, 234, 234, 1);
		padding: 1rem;
		border-radius: 1rem;
		.userNameSurname,
		.phoneEmail,
		.cityAddress {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		} 
		textarea {
			width: 98.5%;
			resize: none;
			outline: none;
			border: none;
			border: 1px solid #00000061;
			background-color: #ebebeb;
			border-radius: 16px;
			margin-top: 10px;
			padding: 17px 0;
			font-size: 1.2rem;
			&:focus {
				border: 1px solid #ffd23f;
			}
			&::placeholder {
				color: #00000061;
				padding-left: 10px;
			}
		}
		.paymet{
		  margin-top: 1rem;
		}
		.btnList {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1rem auto;
			.doorPayment,.onlinePaymet {
				width: 48%;
				padding: 15px 0;
				text-align: center;
				background-color: rgba(234, 234, 234, 1);
				border-radius: 16px;
				font-size: 1.5rem;
				color: black;
				position: relative;
				input {
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}
			}
			.active {
				background-color: gold;
				color: white;
				font-weight: bold;
			}
		}
		.error {
			color: red;
			font-size: 0.9rem;
			margin-top: 0.5rem;
		}
	}
}

// OrderConfirmPage responsive
@media screen and (max-width: 1100px){
	.OrderConfirmPage {
		.formGroup {
			.userNameSurname,
			.phoneEmail,
			.cityAddress {
				flex-direction: column;
				gap: 0;
			} 
			.btnList {
				.doorPayment,.onlinePaymet {
					font-size: 1rem;
				}
			}
		}
	}
}


// OrderConfirmPage responsive
@media screen and (max-width: 750px){
	.OrderConfirmPage {
		flex-direction: column;
		.formGroup {
			width: 100%;
			margin-bottom: 15px;
			padding: 5px;
		}
	}
}

