body,
html{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	 font-family: "IBM Plex Sans", sans-serif;
}
/* site reset style css */
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul, li, h6, h4, p{
	padding: 0;
	margin: 0;
}
.container{
	max-width: 1600px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

/* home banners swiper slider style */
.tallBannerSlider .swiper-pagination-bullet,
.narrowTopBottomSlider .swiper-pagination-bullet {
    background-color: rgb(238, 204, 12) !important;
    width: 15px !important;
    height: 15px !important;
}
.tallBannerSlider .swiper-pagination-horizontal{
    position: absolute;
    bottom: 70px !important;
    left: 40% !important;
    transform: rotate(90deg) !important;
}

.narrowTopBottomSlider .swiper-pagination-horizontal{
    position: absolute;
    bottom: 44px !important;
    left: 47% !important;
    transform: rotate(90deg) !important;
}

.sliderNextPrevBtn{
    position: absolute;
    bottom: 20px;
    left: 80%;
    z-index: 9;
    display: flex;
    gap: 1rem;
}
.sliderNextPrevBtn .nextBtn,
.sliderNextPrevBtn .prevBtn
{
    border: 1px solid red;
    border-radius: 100%;
    padding: 20px 15px;
    cursor: pointer;
}
.rightBottomPagination{
    position: absolute;
    bottom: 0;
    left: 80% !important;
    z-index: 9;
    width: 50px !important;

}
.rightLeftPagination {
    position: absolute;
    bottom: 0;
    left: 80% !important;
    z-index: 9;
    width: 50px !important;
}
.rightBottomPagination .swiper-pagination-bullet,
.rightLeftPagination .swiper-pagination-bullet
{
    background-color: rgb(236, 229, 229) !important;
    width: 20px !important;
    height: 20px !important;
    margin: 5px !important;
}

/* homeNewComers sliders style start */
.home-category-button-prev{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 16px;
    z-index: 2;
    width: 24px;
    height: 41px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}
.home-category-button-next{
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 16px;
    z-index: 2;
    width: 24px;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}
.resultSlider{
    height: 585px;
} 
.home-categoryResult-button-prev{
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: 390px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(253, 133, 33, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-categoryResult-button-next{
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: 390px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(253, 133, 33, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultSlider .swiper-slide{
    margin: 0 14px;
}

/* home bransSlider   */
.bransSlider .swiper-pagination-bullet{
    margin-top: 20px;
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: black;
    transition: 0.5s ease;
}
.bransSlider .swiper-pagination-bullet-active{
    width: 40px;
    border-radius: 14px;
    background-color: rgb(255 210 63) !important;
}


.swiper-slide-thumb-active img{
    border-color: red !important;
}
/* .swiper-wrapper{
    width: 25%;
    display: inline-flex !important;
    flex-direction: column;
    border: 1px solid gold;
} */

.icon-path {
    fill: #000; 
    fill-opacity: 0.38;
    transition: fill 0.3s ease, fill-opacity 0.3s ease;
  }
  
  .decrease:hover.icon-path,
  .increase:hover.icon-path {
    fill: red !important; 
    fill-opacity: 1; 
  }
  
@media only screen and (max-width: 850px) {
    .resultSlider .swiper-slide-active{
        display: flex;
        justify-content: center;
    }
}