body,
html{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	 font-family: "IBM Plex Sans", sans-serif;
}
/* site reset style css */
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul,li,h1,h2,h3,h4,h5,h6, p{
	padding: 0;
	margin: 0;
}
.container{
    /* position: relative; */
	max-width: 1600px;
	margin: 0 auto;
	padding: 2rem 1rem;
}
/* react pagination style */
.productsPagination{
    display: flex;
    justify-content: center;
}
.productsPagination>li{
    margin: 0 2px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: black;
    border: 1px solid rgba(234, 234, 234, 1);
   transition: .5s ease;
   cursor: pointer;
}
.productsPagination>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
li.break{
    border: none;
}
li.previous,li.next{
background-color: rgba(234, 234, 234, 1);
margin-bottom: 10px;
}
li.selected{
    background-color: rgba(255, 210, 63, 1);
    border: 1px solid rgba(255, 210, 63, 1);
}
.productsPagination>li:hover{
    background-color: rgba(255, 249, 209, 1);
    border-color: rgba(255, 210, 63, 1);
}
 /* react pagination responsive */
@media only screen and (max-width: 750px) {
.productsPagination>li{
    width: 23px;
    height: 23px;
}
.productsPagination>li>a{
    width: 23px;
    height: 23px;
}
}

/* Seifeye daxil olduqda seifenin adinin style globalda  */
.sectionTitle{
    font-size: 2rem;
    font-weight: 400;
    color: #000000DE;
}
/* home banners swiper slider style */
.tallBannerSlider .swiper-pagination-bullet,
.narrowTopBottomSlider .swiper-pagination-bullet {
    background-color: rgb(238, 204, 12) !important;
    width: 15px !important;
    height: 15px !important;
}
.tallBannerSlider .swiper-pagination-horizontal{
    position: absolute;
    bottom: 70px !important;
    left: 40% !important;
    transform: rotate(90deg) !important;
}

.narrowTopBottomSlider .swiper-pagination-horizontal{
    position: absolute;
    bottom: 44px !important;
    left: 47% !important;
    transform: rotate(90deg) !important;
}

.sliderNextPrevBtn{
    position: absolute;
    bottom: 20px;
    left: 80%;
    z-index: 9;
    display: flex;
    gap: 1rem;
}
.sliderNextPrevBtn .nextBtn,
.sliderNextPrevBtn .prevBtn
{
    border: 1px solid red;
    border-radius: 100%;
    padding: 20px 15px;
    cursor: pointer;
}
.rightBottomPagination{
    position: absolute;
    bottom: 0;
    left: 80% !important;
    z-index: 9;
    width: 50px !important;

}
.rightLeftPagination {
    position: absolute;
    bottom: 0;
    left: 80% !important;
    z-index: 9;
    width: 50px !important;
}
.rightBottomPagination .swiper-pagination-bullet,
.rightLeftPagination .swiper-pagination-bullet
{
    background-color: rgb(236, 229, 229) !important;
    width: 20px !important;
    height: 20px !important;
    margin: 5px !important;
}

/* homeNewComers sliders style start */
.home-category-button-prev{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 16px;
    z-index: 2;
    width: 24px;
    height: 41px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}
.home-category-button-next{
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 16px;
    z-index: 2;
    width: 24px;
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.home-categorySliderAndDiscountPrSlider-button-prev{
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: 310px;
    right: 0;
    width: 44px;
    height: 60px;
    border-top-left-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
}
.home-categorySliderAndDiscountPrSlider-button-next{
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: 310px;
    left: 0;
    width: 44px;
    height: 60px;
    border-top-left-radius: 0;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
}


/* home bransSlider   */
.bransSlider .swiper-pagination-bullet{
    margin-top: 20px;
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: black;
    transition: 0.5s ease;
}
.bransSlider .swiper-pagination-bullet-active{
    width: 40px;
    border-radius: 14px;
    background-color: rgb(255 210 63) !important;
}


.swiper-slide-thumb-active img{
    border-color: red !important;
}
/* .swiper-wrapper{
    width: 25%;
    display: inline-flex !important;
    flex-direction: column;
    border: 1px solid gold;
} */

.icon-path {
    fill: #000; 
    fill-opacity: 0.38;
    transition: fill 0.3s ease, fill-opacity 0.3s ease;
  }
  
  .decrease:hover.icon-path,
  .increase:hover.icon-path {
    fill: red !important; 
    fill-opacity: 1; 
  }
  
@media only screen and (max-width: 850px) {
    .resultSlider .swiper-slide-active{
        display: flex;
        justify-content: center;
    }
}

/* product details page product image slider style */
.sliderLittleImgWrapper {
    width: 100px;
    height: auto;
}
.sliderLittleImgWrapper .swiper-wrapper{
    flex-direction: column;
}
.sliderLittleImgWrapper .swiper-slide{
    width: 90px !important;
    border: 1px solid #FFD23F;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.sliderLittleImgWrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sliderLittleImgWrapper .swiper-slide-thumb-active{
    width: 90% !important;
    border: 1px solid green;
}

/* .sliderLittleImgWrapper img{
    width: 90px;
    border: 1px solid red;
    height: 50px;
}
.sliderLittleImgWrapper .swiper-slide-active{
    border: 1px solid green;
}		  */
