.enterArea{
    position: absolute;
    z-index: 2;
    top: 46px;
    right: 16px;
    background-color: #FFFFFF;
    padding: 5px 25px 20px 25px;
    border-radius: 16px;
    .enterAreaCloseBtn{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 9;
    }
.parolForgotten{
    display:flex;
    justify-content: end;
    margin: 10px 0 -20px;
    color: #00000099;
    font-size: 14px;
    transition: .5s ease;
    &:hover{
         color: #FD8521;
    }
}
.donotAccount{
color: #00000099;
font-size: .9rem;
}
.LinkSignUp{
    margin-left: 7px;
     font-weight: 700;
     border-bottom: 3px solid #FD8521;
     color: #FD8521;
}	
}


// enterArea responsive
@media only screen and (max-width: 770px) {
    .enterArea{
        top: 40px;
        right: -10px;
        width: 240px;
}
}